[home](https://nils-holmberg.github.io/sfac-py/web/210927/)

# python for research using the scipy stack (210927)
some line

## overview day 1

- some intro
- easy start in google colab
- variables, flow control, con
- from ca 11-12 am, install anaconda3

## some intro

- spyder ide, jupyter notebooks
- data structures, functions, pkgs
- navigate file system, working dir 
- **mindset: excel on steroids**
- file system, folders, csv files
- checking, cleaning, summarizing 
- sql-like operations on datasets
- combination of numeric and text 
- intro to day 2, nlp and spacy

<img src="../../fig/Microsoft_Office_Excel_2019_present.svg.png" width="500"/>

## exercise 1
some line

![caption](../../fig/612497595dc00-2-612344de79979__700.jpg)

In [1]:
import pandas as pd
import seaborn as sns

# df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
df.to_csv("csv/iris.csv", sep="\t", header=True, index=False)

In [1]:
import pandas as pd

# file path on google colab
fp = '/content/iris.csv'
# file path relative to local working dir
fp = '../../csv/iris.csv'

df = pd.read_csv(fp, sep="\t", header=0)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa